
header, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}


.container {
    width: 400px;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    background-color: lightskyblue;
}


.display {
    width: 90%;
    min-height: 15%;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0 6px;
    margin: 6px;
    font-size: 36px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 32px;
    font-size: 20px;
  }
  
  .screen-current {
    min-height: 64px;
    font-size: 40px;
  }

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

#decimal,
.settings,
.numbers,
.operation {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    font-size: 20px;
}

button {
    box-shadow: 2px;
}

button:hover {
    background-color: aliceblue;
}

